* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  color: white;
}

/* Shared Style */
.flex-layout {
  display: flex;
}

.btn {
  padding: 12.5px 26px;
  border-radius: 25px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: linear-gradient(47deg, #F7E93F, #FB09B4, #9100F8);
  cursor: pointer;
  transition: 500ms;

}

.btn-1 {
  padding: 12.5px 26px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 600;
  color: #00FF88;
  background-color: transparent;
  border: solid 1px #00FF88;
  margin-left: 20px;
  transition: 400ms;
  cursor: pointer;
}

.btn-1:hover {
  color: #1A0B2E;
  background-color: #00FF88;
  transform: scale(.95);
}

.btn:hover {
  background: linear-gradient(-47deg, #F7E93F, #FB09B4, #9100F8);
  transform: scale(.95);
}


/* Header Section */
header {
  background-color: #1a0b2e;
  width: 100%;
  border-bottom: solid 1px #3e2363;
}

.header-section {
  width: 80%;
  max-width: 1200px;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  padding: 30px 0px;
}

.nav-items {
  list-style: none;
  gap: 32px;
  font-size: 15px;
  font-weight: 500;
}

.nav-item {
  cursor: pointer;
  transition: 500ms;
}

.nav-item:hover {
  color: blueviolet;
}

.menu {
  display: none;
}

/* Hero Banner section */
.hero-section {
  width: 100%;
  background-image: url(./assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 101px 0px;
}

.hero-continar {
  text-align: center;
  position: relative;
  margin: auto;
  display: block;
  justify-items: center;
  justify-content: center;
}

.img-box {
  width: 350px;
  background-image: url(./assets/hero-circle.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 350px;
  height: 350px;
  position: relative;
}


.mic-img {
  position: absolute;
  top: 90px;
  left: 120px;
}

.btn-cricle {
  color: #1A0B2E;
  background-color: #00FF88;
  border: none;
  box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
  border-radius: 25px;
  font-size: 18px;
  text-transform: uppercase;
  padding: 8px 16px;
  position: absolute;
  right: 30px;
  top: 20px;
}

.hero-content {
  text-align: center;
}

.hero-content h2 {
  font-size: 60px;
  line-height: 73px;
  font-weight: 800;
}

.hero-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #d1cfd8;
  padding: 8px 0px 24px 0px;
}


/* Large Device */

/* Medium Device */
@media screen and (max-width:992px) {
  .header-section {
    width: 96%;
  }
}

/* Small Device */
@media screen and (max-width:576px) {
  nav {
    display: none;
  }

  .btn-box {
    display: none;
  }

  .menu {
    display: block;
    width: 40px;
    cursor: pointer;
  }

  .hero-section {
    padding: 80px 0px;
    height: 100vh;
    background-size: cover;
  }

  .hero-content h2 {
    font-size: 40px;
    line-height: 48px;
    font-weight: 800;
    padding-top: 24px;
  }

}