* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  color: white;
}

/* Shared Style */
.flex-layout {
  display: flex;
}

@keyframes animation {
  0% {

    box-shadow: 0 0 40px rgba(255, 55, 195, 0.6);
  }

  25% {

    box-shadow: 0 0 50px rgba(148, 55, 255, 0.6);
  }

  50% {

    box-shadow: 0 0 60px rgba(255, 252, 68, 0.6);
  }

  75% {

    box-shadow: 0 0 50px rgba(74, 255, 68, 0.6);
  }

  100% {

    box-shadow: 0 0 40px rgba(255, 55, 195, 0.6);
  }
}

@keyframes btn {
  0% {
    right: 30px;
    top: 20px;
  }

  50% {
    right: 25px;
    top: 15px
  }

  100% {
    right: 30px;
    top: 20px
  }
}

.btn {
  padding: 12.5px 26px;
  border-radius: 25px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: linear-gradient(47deg, #F7E93F, #FB09B4, #9100F8);
  cursor: pointer;
  transition: 500ms;

}

.btn-1 {
  padding: 12.5px 26px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 600;
  color: #00FF88;
  background-color: transparent;
  border: solid 1px #00FF88;
  margin-left: 20px;
  transition: 400ms;
  cursor: pointer;
}

.btn-1:hover {
  color: #1A0B2E;
  background-color: #00FF88;
  transform: scale(.95);
}

.btn:hover {
  background: linear-gradient(-47deg, #F7E93F, #FB09B4, #9100F8);
  transform: scale(.95);
}


/* Header Section */
header {
  background-color: #1a0b2e;
  width: 100%;
  border-bottom: solid 1px #3e2363;
}

.header-section {
  width: 80%;
  max-width: 1200px;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  padding: 30px 0px;
  position: sticky;
  top: 0;
}

.nav-items {
  list-style: none;
  gap: 32px;
  font-size: 15px;
  font-weight: 500;
}

.nav-item {
  cursor: pointer;
  transition: 500ms;
}

.nav-item:hover {
  color: #FB09B4;
}

.menu {
  display: none;
}

/* Hero Banner section */
.hero-section {
  width: 100%;
  background-image: url(./assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 101px 0px;
}

.hero-continar {
  text-align: center;
  position: relative;
  margin: auto;
  display: block;
  justify-items: center;
  justify-content: center;
}

.img-box {
  width: 350px;
  background-image: url(./assets/hero-circle.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 350px;
  height: 350px;
  position: relative;
  animation: animation 5.5s ease-in-out infinite;
  border-radius: 100%;
  box-shadow: 0 0 40px rgba(255, 55, 195, 0.6);
}


.mic-img {
  position: absolute;
  top: 90px;
  left: 120px;
}

.btn-cricle {
  color: #1A0B2E;
  background-color: #00FF88;
  border: none;
  box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
  border-radius: 25px;
  font-size: 18px;
  text-transform: uppercase;
  padding: 8px 16px;
  position: absolute;
  right: 30px;
  top: 20px;
  animation: btn 2.5s ease-in-out infinite;
}

.hero-content {
  text-align: center;
}

.hero-content h2 {
  padding-top: 40px;
  font-size: 60px;
  line-height: 73px;
  font-weight: 800;
}

.hero-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #d1cfd8;
  padding: 8px 0px 24px 0px;
}

.icon-1 {
  color: #00FF88;
  transition: 400ms;
}

.btn-1:hover .icon-1 {
  color: #1A0B2E;
}

/* About Section */
.about-section {
  width: 100%;
  background-color: #1A0B2E;
}

.about-continar {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 16px 0 120px;
}

.section-title {
  font-size: 48px;
  line-height: 58px;
  font-weight: 700;
}

.about-continar p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #d1cfd8;
  padding: 16px 0 80px;
}

.count-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: auto;
  text-align: center;
  padding-top: 80px;
  border-top: solid 1px #271939;
}

.count-card h3 {
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  color: #00FF88;
}

.count-card p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

/* why choose section */
.why-choose-section {
  width: 100%;
  background-color: #230e3d;
}

.why-choose-continar {
  width: 80%;
  max-width: 1200px;
  padding: 120px 0px;
  margin: auto;
  text-align: center;
}

.grid-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  margin-top: 40px;
}

.card {
  background-color: #2a0f4d;
  padding: 40px;
  border: 1px solid #230e3d;
  border-radius: 10px;
  text-align: left;
  cursor: pointer;
  transition: 400ms;
}

.card:hover {
  box-shadow: 0px 3px 27px 0px rgba(197, 151, 186, 0.2);
  border: #FB09B4 solid 1px;
  transform: scale(1.01);
  background: linear-gradient(47deg, #f7e83f34, #fb09b23a, #9100f82d);
}

.card-img {
  width: 60px;
}

.card-title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700px;
  padding: 16px 0px;
}

.card:hover .card-title {
  color: #FB09B4;
}

.card-text {
  font-size: 16px;
  color: #d1cfd8;
  line-height: 24px;
  font-weight: 400;
}

.card-1 {
  grid-row: span 2;
}

.card-2 {
  grid-column: span 2;
}

/* Featured Section */
.featured-section {
  width: 100%;
  background-color: #1a0b2e;
}

.featured-continar {
  width: 80%;
  max-width: 1200px;
  text-align: center;
  margin: auto;
  padding: 120px 0;
}

.featured-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 40px;
}

.video-box {
  background-color: #250e44;
  border-radius: 15px;
  overflow: hidden;
  text-align: left;
}

.video-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}

.video-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #d1cfd8;
  padding: 12px 0px;
}

.time {
  color: #00FF88;
  font-size: 16px;
  font-family: Inter;
  font-weight: 600;
}

.video-content {
  padding: 24px;
}

/* host section */
.host-section {
  width: 100%;
  background-color: #1a0b2e;
}

.host-continar {
  width: 80%;
  max-width: 1200px;
  padding: 60px 0px 120px;
  margin: auto;
  text-align: center;
}

.host-box {
  background-color: #250e44;
  border-radius: 40px;
  display: flex;
  /* grid-template-columns: repeat(3, 1fr); */
  padding: 40px;
  margin-top: 40px;
  gap: 40px;
  align-items: center;
}

.hostimg {
  border-radius: 100%;
}

.host-info {
  text-align: left;
}

.host-name {
  font-size: 32px;
  font-weight: 700px;
  line-height: 39px;
}

.host-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #d1cfd8;
  padding: 16px 0;
}

.social-icon {
  border: 1px solid #533C72;
  padding: 10px;
  border-radius: 25px;
  margin-right: 10px;
  cursor: pointer;
  transition: 400ms;
  width: 20px;
}

.social {
  justify-content: center;
  justify-items: center;
}

.social-icon:hover {
  border: solid 1px#FB09B4;
  transform: scale(.95);
  box-shadow: 4px 4px 25px 4px #42333e;
}

/* Footer section */
.footer {
  width: 100%;
  background-image: url(./assets/footer-bg.png);
  background-repeat: repeat;
  background-size: cover;
  height: auto;
  background-position: center center;
}

.footer-continar {
  width: 80%;
  max-width: 1200px;
  padding: 120px 0px;
  text-align: center;
  margin: auto;
}

.social-box {
  margin: 34px 0px;
  display: flex;
  gap: 40px;
  justify-content: center;
  justify-items: center;

}

.icon {
  font-size: 21px;
}

.social-box a:hover .icon {
  color: #FB09B4;
}

.social-box a {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: #d1cfd8;
  transition: 400ms;
}

.social-box a:hover {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: #FB09B4;
}

.copyright-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #d1cfd8;
  padding: 16px 0;
}

/* Large Device */

/* Medium Device */
@media screen and (max-width:992px) {

  .header-section,
  .about-continar,
  .why-choose-continar,
  .featured-continar,
  .host-continar,
  .footer-continar {
    width: 94%;

  }

  .hero-section {
    padding: 80px 0px 40px 0px;
    height: auto;
    background-size: cover;
  }

  .why-choose-continar {
    padding: 40px 0px;
  }

  .grid-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    margin-top: 40px;
  }

  .card-1 {
    grid-column: span 2;
    grid-row: span 1;
  }

  .card-2 {
    grid-column: span 1;
    grid-row: span 1;
  }
}



/* Small Device */
@media screen and (max-width:576px) {
  nav {
    display: none;
  }

  .btn-box {
    display: none;
  }

  .menu {
    display: block;
    cursor: pointer;
    font-size: 25px;
  }

  .menu:hover {
    color: #FB09B4;
  }

  .hero-section {
    padding: 80px 0px 40px 0px;
    height: auto;
    background-size: cover;
  }

  .img-box {
    width: 200px;
    background-image: url(./assets/hero-circle.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;
    height: 200px;
    position: relative;
    animation: animation 5.5s ease-in-out infinite;
    border-radius: 100%;
    box-shadow: 0 0 40px rgba(255, 55, 195, 0.6);
  }

  .mic-img {
    position: absolute;
    top: 45px;
    left: 60px;
    width: 100%;
    max-width: 80px;
    height: auto;
  }

  .hero-content h2 {
    font-size: 40px;
    line-height: 48px;
    font-weight: 800;
    padding-top: 24px;
  }

  .count-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    text-align: center;
  }

  .about-continar {
    padding: 40px 0;
  }

  .about-continar p {
    padding: 12px 0px 40px;
  }

  .count-box {
    padding-top: 40px;
  }

  .section-title {
    font-size: 32px;
    line-height: 39px;
    font-weight: 700;
  }

  .count-card h3 {
    font-size: 40px;
    line-height: 48px;
  }

  .grid-box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 20px;
    margin-top: 40px;
  }

  .card-title {
    font-size: 22px;
    line-height: 27px;

  }

  .card-1 {
    grid-column: span 1;
  }

  .card-2 {
    grid-column: span 1;
  }

  .featured-continar {
    padding: 40px 0px;
  }

  .featured-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .video-title {
    font-size: 20px;
    line-height: 24px;
  }

  .host-box {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .host-info {
    text-align: center;
  }

  .footer {
    padding: 40px 0px;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .footer-continar {
    padding: 40px 0px;
  }

  .social-box {
    display: grid;
    width: 90%;
    margin: 20px auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}